@model SinExWebApp20265462.Models.ShipmentTracking

@{
    ViewBag.Title = "Details";
}
@if (Model != null)
{
    <h3>Shipment Information</h3>
    <table class="table table-responsive">
        <tr>
            <td>WayBill Number:</td>
            <td>@Model.WaybillId.ToString("000000000000")</td>
            <td>Service Type:</td>
            <td>@Model.Shipment.ServiceType</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>@Model.Shipment.Status</td>
            <td></td><td></td>
        </tr>
        @if (Model.Arrived)
        {
            <tr>
                <td>Delivered to:</td>
                <td>@Model.DeliveredTo</td>
                <td>Delivered at:</td>
                <td>@Model.DeliveredAt</td>
            </tr>
        }


    </table>

    <h3>Package Information</h3>
    <table class="table table-responsive">
        @foreach (var p in Model.Shipment.Packages)
        {
            <tr>
                <td>Package:</td>
                <td>@p.PackageTypeSize</td>
                <td>Weight:</td>
                <td>@p.CustomerWeight</td>
            </tr>
        }
    </table>


    <h3>Shipment History</h3>
    <table class="table table-responsive">
        <tr>
            <td>Date</td>
            <td>Time</td>
            <td>Desciption</td>
            <td>Location</td>
            <td>Remarks</td>
        </tr>
        @foreach (var state in Model.ShipmentStates)
        {
            <tr>
                <td>@state.Time.ToShortDateString()</td>
                <td>@state.Time.ToShortTimeString()</td>
                <td>@state.Description</td>
                <td>@state.Location</td>
                <td>@state.Remarks</td>
            </tr>
        }
    </table>
}
else {
    <h2>The shipment with the waybill id cannot be found.</h2>
}


<p>
    @Html.ActionLink("Search Again", "Index")
</p>
