@model IEnumerable<SinExWebApp20265462.ViewModels.ShipmentsListViewModel>

@if (Model.Any())
{
    <hr />
    <p>The following are the shipments for the specified account.</p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaybillId)
            </th>           
            <th>
                @Html.ActionLink("Service Type", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.ServiceTypeSortParm,
               CurrentShippingAccountId = ViewBag.CurrentShippingAccountId,  // Mistake made: Forgot to add this line
               StartShippedDate = ViewBag.CurrentStartShippedDate,
               EndShippedDate = ViewBag.CurrentEndShippedDate
           })
            </th>
            <th>
                @Html.ActionLink("Shipped Date", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.ShippedDateSortParm,
               CurrentShippingAccountId = ViewBag.CurrentShippingAccountId,
               StartShippedDate = ViewBag.CurrentStartShippedDate,
               EndShippedDate = ViewBag.CurrentEndShippedDate
           })
            </th>
            <th>
                @Html.ActionLink("Delivered Date", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.DeliveredDateSortParm,
               CurrentShippingAccountId = ViewBag.CurrentShippingAccountId,
               StartShippedDate = ViewBag.CurrentStartShippedDate,
               EndShippedDate = ViewBag.CurrentEndShippedDate
           })
            </th>
            <th>
                @Html.ActionLink("Recipient Name", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.RecipientNameSortParm,
               CurrentShippingAccountId = ViewBag.CurrentShippingAccountId,
               StartShippedDate = ViewBag.CurrentStartShippedDate,
               EndShippedDate = ViewBag.CurrentEndShippedDate
           })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPackages)
            </th>
            <th>
                @Html.ActionLink("Origin", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.OriginSortParm,
               CurrentShippingAccountId = ViewBag.CurrentShippingAccountId,
               StartShippedDate = ViewBag.CurrentStartShippedDate,
               EndShippedDate = ViewBag.CurrentEndShippedDate
           })
            </th>
            <th>
                @Html.ActionLink("Destination", "GenerateHistoryReport", new
           {
               sortOrder = ViewBag.DestinationSortParm,
               CurrentShippingAccountId = ViewBag.CurrentShippingAccountId,
               StartShippedDate = ViewBag.CurrentStartShippedDate,
               EndShippedDate = ViewBag.CurrentEndShippedDate
           })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayName("Navigate to Invoice")
            </th>
            <th>@Html.DisplayName("Cancel a Shipment?")</th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.WaybillId.ToString("0000000000000000")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType)
            </td>
            <td>
                @if (item.ShippedDate != new DateTime(1990, 1, 1))
                {
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                }
                else
                {
                    <p>N/A</p>
                }
            </td>
            <td>
                @if (item.DeliveredDate != new DateTime(1990, 1, 1))
                {
                    @Html.DisplayFor(modelItem => item.DeliveredDate)
                } else
                {
                    <p>N/A</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPackages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if (item.Status != "Pending" && item.Status != "Cancelled")
                { @Html.ActionLink("Link", "Invoice", new { id = item.WaybillId }) }
            </td>
            <td>
                @if (item.Status == "Pending")
                { @Html.ActionLink("Delete", "Delete", new { id = item.WaybillId }) }
            </td>
        </tr>
    }

    </table>
}
