@model SinExWebApp20265462.Models.PickUpLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PickUpLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PickUpNickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpNickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpBuilding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpBuilding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpProvinceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpProvinceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpPostalCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PickUpLocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
