@model SinExWebApp20265462.ViewModels.CalculatorShipmentViewModel


@{
    ViewBag.Title = "Shipment Cost Calculator";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ShipmentCostCalculator", "ServicePackageFees", "FormMethod.Get"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationMessageFor(model => model.NumberOfPackages, "", new { @class = "text-danger" })
    <hr />

    <input type="hidden" value=@ViewBag.NumberOfPackages name="NumberOfPackages" />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Origin, "Origin", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(a => a.Origin, Model.Destinations, new { @class = "form-control", style = "width: 150px;" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Destination, "Destination", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(a => a.Destination, Model.Destinations, new { @class = "form-control", style = "width: 150px;" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceTypeID, "Service Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(a => a.ServiceTypeID, Model.ServiceTypes, new { @class = "form-control", style = "width: 150px;" })
            </div>
        </div>
    </div>
    <hr />
    for (int i = 0, tmp = 1; i < 10; i++, tmp++)
    {
        if (i < ViewBag.NumberOfPackages)
        {
            <div id="packages" class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Packages[i], "Package " + tmp)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Packages[i].PackageTypeSizeID, "Package Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(a => a.Packages[i].PackageTypeSizeID, Model.Packages[i].PackageTypeSizes, new { @class = "form-control", style = "width: 150px;" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Packages[i].Weight, "Weight", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(a => a.Packages[i].Weight, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Packages[i].PackageCost, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(a => a.Packages[i].PackageCost)
                    </div>
                </div>
            </div>
            <hr />
        }
        else
        {
            @Html.HiddenFor(a => a.Packages[i].Weight);
            @Html.HiddenFor(a => a.Packages[i].PackageTypeSizeID);
        }
    }
    
    <button name="addPackage" value="true">+</button>
    <button name="delPackage" value="true">-</button>
    <input type="submit" value="Submit" />
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <label for="DisplayCurrency" class="col-sm-2 control-label">Display currency in </label>
            <div class="col-md-10">
                @Html.DropDownListFor(a => a.CurrencyCode, Model.CurrencyCodes, new { @class = "form-control", style = "width: 150px;", onchange = "this.form.submit()" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ShipmentCost, "Shipment Cost: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ShipmentCost)
            </div>
        </div>
    </div>
}
